<user-navbar></user-navbar>
<div class="container" ng-init="init()">
  <!-- Page Heading -->
  <div class="page-heading">
    <h1>Bookings</h1>
  </div>

  <div class="filter-sort-container">
    <!-- Sort Dropdown -->
    <label for="sort">Sort By:</label>
    <select id="sort" ng-model="selectedSort">
      <option ng-repeat="(key, value) in sortBid" value="car.{{ key }}">{{ value }}</option>
    </select>
  </div>
  <!-- Chat List -->
  <div class="parent">
  <div class="chat-list" ng-hide="isLoading">
    <!-- Use ng-repeat to dynamically generate bidding items -->
    <div class="chat-item" 
         ng-repeat="booking in bookings | filter: selectedFilter | orderBy: selectedSort">
      <div class="chat-info">
        <div class="chat-image">
          <img ng-src="{{ booking.car.image }}" alt="Car Image">
        </div>
        <div class="chat-details">
          <div class="chat-car"><strong>Car Name:</strong> {{ booking.car.name }}</div>
          <div class="chat-model"><strong>Model:</strong> {{ booking.car.category }}</div>
          <div class="chat-base-price"><strong>Base Price:</strong> {{ booking.car.basePrice | currency:"₹" }}</div>
          <div class="chat-price-km"><strong>Price per Km:</strong> {{ booking.car.pricePerKm | currency:"₹" }}</div>
          <div class="chat-start-date"><strong>Start Date:</strong> {{ booking.car.startDate | date:'dd-MM-yyyy' }}</div>
          <div class="chat-end-date"><strong>End Date:</strong> {{ booking.car.endDate | date:'dd-MM-yyyy' }}</div>
        </div>   
      </div>
    </div>
  </div>
  <div class="child" ng-show="isLoading">
    <img src="assets\gifs\loader.gif" alt="loader" />
  </div>
  </div>
</div>
