
    <user-navbar></user-navbar>
    <div class="container">
      <div class="filter-section">
        <label for="city">Current City:</label>
        <select
          id="city"
          ng-model="selectedCity"
          ng-options="city for city in cities"
          ng-change="filterCarUsingSelectedCity()"
        ></select>
      </div>
      <h2>{{selectedCity}} Cars</h2>

      <div class="card-section">
        <card-component 
  ng-repeat="car in carsInSelectedCity" 
  car="car">
</card-component>
      </div>


      <h2>All Cars</h2>

      <div class="card-section">
        <card-component 
        ng-repeat="car in cars" 
        car="car"></card-component>
      

      </div>
      
      <!-- Pagination Controls -->
      <div class="pagination">
        <button ng-disabled="!isPreviousPageAvailable" ng-click="getNextSetOfCars(currentPageAll-1)">Previous</button>
        <span> Page {{ currentPageAll + 1 }}</span>
        <button ng-disabled="!isNextPageAvailable" ng-click="getNextSetOfCars(currentPageAll+1)">Next</button>
      </div>
      

     

    </div>

