
<link rel="stylesheet" href="app\views\user\user-car\user-car.css" />
<user-navbar></user-navbar>
<div class="container" ng-init="init()">
  <!-- Car Name Header -->
  <div class="car-header">
    <h1>{{ car.name }}</h1>
  </div>

  <!-- Main Content: Left Details and Right Image with Rating -->
   <div class="parent">
  <div class="car-content" ng-hide="isLoading">
    <!-- Left Column: Car Details -->
    <div class="details-left">
      <p><strong>Category:</strong> {{ car.category }}</p>
      <p><strong>Fuel Type:</strong> {{ car.fuelType }}</p>
      <p><strong>Base Price:</strong> {{ car.basePrice | currency:"₹" }}</p>
      <p><strong>Price per km:</strong> {{ car.pricePerKm | currency:"₹" }}</p>
      <p><strong>Features:</strong></p>
      <ul>
        <li ng-repeat="feature in car.features">{{ feature }}</li>
      </ul>
      <p><strong>City:</strong> {{ car.city }}</p>
      <p><strong>Kms Travelled:</strong> {{ car.travelled }} km</p>

      <form name="carForm" novalidate ng-submit="submitBid()">
        <div class="date-selection">
          <label for="startDate"><strong>Start Date:</strong></label>
          <input
            type="date"
            id="startDate"
            name="startDate"
            ng-model="car.startDate"
           
            ng-change="checkDates()"
            required
          />
          <!-- ng-attr-min="{{today}}" -->
          <label for="endDate"><strong>End Date:</strong></label>
          <input
            type="date"
            id="endDate"
            name="endDate"
            ng-model="car.endDate"
            ng-attr-min="{{minEndDate}}"
            ng-change="checkDates()"
            required
          />
        </div>

        <!-- Action Buttons -->
        <div class="action-buttons">
          <button type="submit" ng-disabled="carForm.$invalid" ng-click="checkAvailability()">Bid Now</button>
        </div>
      </form>
    </div>

    <!-- Right Column: Car Image and Rating -->
    <div class="details-right">
      <img ng-src="{{ car.image }}" alt="Car Image" />
      <button ng-click="chat(car.owner.firstName,car.owner.email,car)">chat</button>
    </div>
  </div>
  <div class="child" ng-show="isLoading">
    <img src="assets\gifs\loader.gif" alt="loader">
  </div>
</div>
</div>
