
<!-- templates/card.html -->
  <div class="card">
    <img ng-src="{{$ctrl.car.image}}" alt="Car Image" />
    <div class="card-details">
      <div class="details-left">
        <div class="rating">
        </div>
        <h3>{{$ctrl.car.name}}</h3>
        <p><strong>City:</strong> {{$ctrl.car.city}}</p>
        <p><strong>Base Price:</strong> {{ $ctrl.car.basePrice | currency:"₹" }}</p>
        <p><strong>Price per km:</strong> {{$ctrl.car.pricePerKm | currency:"₹" }}</p>
        <p><strong>Travelled:</strong> {{$ctrl.car.travelled}}km</p>
      </div>
      <div class="fuel-container">
        <img ng-src="{{$ctrl.car.fuelPump}}" ng-style="$ctrl.car.fuelPumpStyle" alt="Fuel Pump Image" class="fuel-icon" />
        <p class="fuel-text">{{$ctrl.car.fuelType}}</p>
      </div>      
    </div>
  </div>
