<user-navbar></user-navbar>
<div class="container">
  <!-- Page Heading -->
  <div class="page-heading">
    <h1>Bookings</h1>
  </div>

  <div class="filter-sort-container">
    <label for="filter">Filter By:</label>
    <select id="filter" ng-model="selectedFilter">
      <option ng-repeat="(key, value) in filterBooking" ng-value="{{ value }}">
        {{ key }}
      </option>
    </select>
  </div>
<!-- {{selectedFilter}} -->
  <!-- Chat List -->
  <div class="chat-list">
    <div
      class="chat-item"
      ng-repeat="booking in bookings | filter: {paymentStatus: selectedFilter} | orderBy: selectedSort"
    >
      <div class="chat-data">
        <div class="chat-info">
          <div class="chat-image">
            <img ng-src="{{ booking.car.image }}" alt="Car Image" />
          </div>
          <div class="chat-details">
            <div class="chat-car">
              <strong>Car Name:</strong> {{ booking.car.name }}
            </div>
            <div class="chat-model">
              <strong>Model:</strong> {{ booking.car.category }}
            </div>
            <div class="chat-base-price">
              <strong>Base Price:</strong> {{ booking.car.basePrice |
              currency:"₹" }}
            </div>
            <div class="chat-price-km">
              <strong>Price per Km:</strong> {{ booking.car.pricePerKm |
              currency:"₹" }}
            </div>
            <div class="chat-start-date">
              <strong>Start Date:</strong> {{ booking.car.startDate |
              date:'dd-MM-yyyy' }}
            </div>
            <div class="chat-end-date">
              <strong>End Date:</strong> {{ booking.car.endDate |
              date:'dd-MM-yyyy' }}
            </div>
          </div>
        </div>
        <div class="upload-container" ng-if="booking.car.isCompleted && (!booking.paymentStatus)">
          <label class="upload-label" for="odometer-upload-{{ $index }}"
            >Upload Odometer:</label
          >
          <input type="number" ng-model="odometer" name="odometer" />
          <button ng-click="uploadOdometerValue(odometer,booking)">
            Upload
          </button>
        </div>
        <div class="trip-invoice" ng-if="booking.paymentStatus">
          <button class="invoice" ng-click="openInvoice(booking)">Invoice</button>
          <trip-invoice
          booking="booking"
          on-close="closeInvoice(booking)"
          ng-if="booking.showInvoice"
          ></trip-invoice>
        </div>
      </div>

      <!-- Odometer Upload Field (Vertical Placement) -->
    </div>
  </div>
</div>
